.gnb {
  position: sticky;
  top: 0;
  height: 64px;
  width: 100%;
  background: var(--background-rgb);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #999;
  box-shadow: #999;
  padding: 0 32px;
}

.gnbContents {
  max-width: var(--max-width);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toolbar {
  display: flex;
  gap: 8px;
}

.logo {

font-size: 1.3rem;
font-weight: 800;
display: inline-flex;
align-items: center;
gap: 12px;
cursor: pointer;
}
