.button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid rgb(var(--foreground-rgb));;
  color: rgb(var(--foreground-rgb));;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
